.original-slider {
    max-width: 1600px;
    height: 240px;

    margin: 0 auto;
    overflow: visible;
}
.trending-slider {
    max-width: 1600px;
    height: 120px;

    margin: 0 auto;
}
.original-slider-img {
    display: flex;

    overflow: hidden;
}

.images {
    cursor: pointer;
    transition: transform 0.5s;
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
}

.images:hover {
    transform: scale(1.05);
    border-radius: 12px;
    z-index: 9;

    box-shadow: 3px 3px 6px rgb(119, 119, 243);
}
